body {
    background-color: #80569E;
}

h5 {
    color: #e4d3be;
}

canvas {
    margin:0px;
}

button {
    width:30%;
    font-size: larger;
}

.text {
    width:fit-content;
    text-align: left;
    font-size: larger;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
}

#textDiv {
    margin-top: 40px;
}

#main {
    display:flex;
    flex-direction: column;
    align-items: center;

    width:fit-content;
    margin-left: auto;
    margin-right:auto;
}

#imgDiv {
    width: fit-content;
    height:auto;
    display: flex;
    align-items: center;
}

img {
    width:250px;
    height:250px;
    max-width: 100%

    margin-left: auto;
    margin-right:auto;
}